/* Images without borders or shadows or stuff */
.reveal section img {
  border: none;
  box-shadow: none;
  background: none;
}

/* For inline code */
.reveal section code:not(.hljs) {
  background-color: #ccc;
  color: #fff;
}

/* Specific images can be stiled with the alt attr */
img[alt=logo-twitter] {
  height: 40px;
}

img[alt=logo-github] {
  height: 40px;
}

img[alt=logo-gmail] {
  height: 40px;
}

img[alt=rb-android] {
  height: 500px;
}

img[alt=rb-ios] {
  height: 500px;
}

img[alt=ruby-logo], img[alt=js-logo]{
  height: 300px;
}

img[alt=mysql-logo],
img[alt=rails-logo] {
  width: 300px;
}

img[alt=marionette-logo],
img[alt=backbone-logo],
img[alt=react-logo],
img[alt=elasticsearch-logo],
img[alt=redis-logo]{
  height: 200px;
}

img[alt=client-server] {
  width: 500px;
}

img[alt=alone-centered] {
  padding-top: 20%;
}

/* Two Panes */
.two-panes {
  display: flex;
}

.two-panes div {
  flex: 1;
}

.two-panes .two-panes__big-pane {
  flex: 2.5;
  text-align: left;
  padding: 20px;
}
